.card {
  width: 200px;
  height: 300px;
  background-color: #b7f4f9ff;
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:hover {
    transform: scale(1.03);
  }
}

.image {
  margin-top: 12px;
  border-radius: 50%;
  overflow: hidden;
}

.info {
  text-align: center;
  font-size: 14px;

  p{
    width: 140px;
    height: 24px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 600;
  }

  .status {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  .statusIcon {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
  }
}
